RewriteEngine On
RewriteBase /

RewriteRule ^signup/?$ signup.php [L]
RewriteRule ^home/?$ home.php [L]
RewriteRule ^settings/?$ settings.php [L]
RewriteRule ^themeSelector/?$ themes.php [L]
RewriteRule ^newPost/?$ createPost.php [L]